.about-me {
  max-width: 100vw;
  height: 450px;
  @include flex(row, center, center);

  @include mobile-w {
    height: 400px;
  }
}


.content-about {
  width: 60%;
  height: inherit;

  @include mobile {
    width: 70%;
  }

  @include tablet {
    width: 80%;
  }

  @include laptop {
    width: 75%;
  }


  &__title {
    @include font-heading;
    text-align: center;
    padding-top: 10%;

    @include tablet {
      padding-top: 10%;
    }

    @include laptop {
      padding-top: 10%;
    }

    @include desktop {
      font-size: 60px;
    }
  }

  &__text {
    @include font-description;
    padding-top: 2%;

    @include mobile {
      font-size: 13px;
    }

    @include mobile-w {
      font-size: 13px;
    }

    @include laptop {
      font-size: 16px;
    }

    @include desktop {
      font-size: 16px;
    }
  }
}
