@import "reset";
@import "variables";
@import "mixins";
@import "icons";
@import "responsive";
@import "pop-ups";
@import "button";
@import "header";
@import "about-me";
@import "expert-in";
@import "latest-works";
@import "clients";
@import "footer";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

.container {
  margin: 0 auto;
  max-width: 100vw;

  &.accepted {
      transform: translateY(-70px);
  }
}

.mask::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}